<!doctype html>
<html lang="en">
<%- include('includes/head');
    -%>

  <body>
    <%- include('includes/nav');-%>
      <div class="container mt-5">
        <% if(message.type){%>
          <div class="alert alert-<%= message.type==='success'?'success':'danger'%> ">
            <%= message.body%>
          </div>
          <%}%>
            <h1 class="text-capitalize">Hello,
              <%= user?user.name:'Guest'
                  %>
            </h1>
      </div>

      <%- include('includes/footer');-%>
  </body>

</html>
