<!doctype html>
<html lang="en">
<%- include('includes/head'); -%>

  <body>
    <%- include('includes/nav'); -%>
      <div class="container mt-5">
        <h1>Registeration</h1>
        <% if (message.type) { %>
          <div class="alert alert-<%= message.type ===  'success' ? 'success':'danger' %> role=" alert">
            <%= message.body %>
          </div>
          <% } %>
            <form novalidate method="POST" action="/register">
              <div class="mb-3">
                <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>
                <input type="text" class="form-control <%= errors.name ? 'is-invalid':'' %>" id="name" name="name"
                  value="<%= formData.name %>" aria-describedby="name" maxlength="64" minlength="2" required>

                <% if (errors.name) { %>
                  <div id="validationServerNameFeedback" class="invalid-feedback">
                    <%= errors.name[0] %>
                  </div>
                  <% } %>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email address<sup class="text-danger">*</sup></label>

                <input type="email" class="form-control <%= errors.email ? 'is-invalid':'' %>" id="email" name="email"
                  value="<%= formData.email %>" aria-describedby="emailHelp" maxlength="128" required>

                <% if (errors.email) { %>
                  <div id="validationServerEmailFeedback" class="invalid-feedback">
                    <%= errors.email[0] %>
                  </div>
                  <% } %>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password<sup class="text-danger">*</sup></label>
                <input type="password" class="form-control <%= errors.password ? 'is-invalid':'' %>" id="password"
                  name="password" required>
                <% if (errors.password) { %>
                  <div id="validationServerPasswordFeedback" class="invalid-feedback">
                    <%= errors.password[0] %>
                  </div>
                  <% } %>
              </div>
              <div class="mb-3">
                <label for="repeat_password" class="form-label">Confirm Password<sup class="text-danger">*</sup></label>
                <input type="repeat_password" class="form-control 
                  id=" repeat_password" name="repeat_password" required>

              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>

            </form>
      </div>

      <%- include('includes/footer'); -%>
  </body>

</html>